 <!-- <app-view></app-view>
<app-update></app-update>
<app-add></app-add>
<app-delete></app-delete>  -->
<div style="text-align:center">
<h1> Sanjay Group of Schools</h1>
     
      <button [routerLink] = "['/View']">View</button><br><br>
      <button [routerLink] = "['/Update']">Update</button><br><br>
      <button [routerLink] = "['/Add']">Add</button><br><br>
      <button [routerLink] = "['/Delete']">Delete</button><br><br>
    
    <!-- <router-outlet></router-outlet> -->
    <router-outlet></router-outlet>
</div>
